
.heading_div{
    width: 100%;
    text-align: left;

}

.heading_div h3{
    display: inline;

}

.heading_div button{
    float: right;
    border: 1px solid white;
}


#play_btn, #status{
    font-size: 22px;
}

h4{
    background-color: cyan;
    line-height: 2;
    margin: 0px;
    font-weight: bold;
}

canvas{
    box-shadow: 5px 5px 5px solid white;
    border-radius: 10px;
}